.timer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    animation: animation1 4s ease 0s normal none;

    @media (max-width: 768px) {
        margin-bottom: 54px;
    }

    &__timeWrapper {
        display: flex; 
        justify-content: center;
        margin-bottom: 21px;
    }

    &__time {
        font-style: normal;
        font-weight: 600;
        font-size: var(--fs-72);
        line-height: 100%;
        color: var(--text-dark);
        margin-bottom: 20px;

        @media (max-width: 1200px) {
            font-size: var(--fs-44);
        }

        @media (max-width: 768px){
            font-size: var(--fs-36);
            margin-bottom: 20px;
        }
    }

    &__name {
        position: relative;
        font-weight: 400;
        font-size: var(--fs-16);
        line-height: 100%;
        color: var(--text-white);
        z-index: 2;

        @media (max-width: 1200px) {
            font-size: var(--fs-14);
        }

        @media (max-width: 768px) {
            font-size: var(--fs-12);
            transform: translate(-33%, -30%);
        }

        &::before {
            content: url('../../images/timer/red-wave-desctop.svg');
            position: absolute;
            transform: translate(-27%, -34%);
            z-index: -1;

            @media (max-width: 768px) {
                content: url('../../images/timer/red-wave-mobile.svg');
            }
        }
    }

    &__colon {
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        font-size: var(--fs-72);
        line-height: 100%;
        color: var(--text-dark);
        margin: 0 25px;

        @media (max-width: 1200px) {
            font-size: var(--fs-44);
        }

        @media (max-width: 992px) {
            margin: 0 15px;
        }

        @media (max-width: 768px){
            font-size: var(--fs-36);
        }

        @media (max-width: 560px) {
            margin: 0 3px;
        }
    }

    &__daysWrap,
    &__hoursWrap,
    &__minutesWrap,
    &__secondsWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        min-width: 130px;

        @media (max-width: 768px) {
            min-width: 64px;
        }
    }
}

@keyframes animation1 {
    0% {
        transform: translate3d(0, -400px, 0);
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}