.promo {
    position: relative;
    font-family: var(--font-Poppins);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    padding: 5px;

    &__leftWave {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 478px;
        max-height: 394px;

        @media (max-width: 1200px) {
            max-width: 370px;
            max-height: 300px;
        }

        @media (max-width: 992px) {
            max-width: 300px;
            max-height: 300px;
        }

        @media (max-width: 768px){
            max-width: 250px;
            max-height: 200px;
        }

        @media (max-width: 560px) {
            max-width: 170px;
            max-height: 179px;
        }
    }

    &__rightWave {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 478px;
        max-height: 394px;

        @media (max-width: 1200px) {
            max-width: 270px;
            max-height: 303px;
        }

        @media (max-width: 768px){
            max-width: 270px;
            max-height: 250px;
        }

        @media (max-width: 560px) {
            max-width: 150px;
            max-height: 162px;
        }
    }

    &__container {
        max-width: 1700px;
        height: 100vh;
        margin: 0 auto;
        padding: 110px 15px 92px 15px;

        @media (max-width: 1200px) {
            max-width: 1200px;
            padding: 110px 15px 160px 15px;
        }

        @media (max-width: 992px) {
            max-width: 992px;
            padding: 98px 15px 160px 15px;
        }

        @media (max-width: 768px) {
            max-width: 768px;
        }
        @media (max-width: 560px) {
            max-width: 560px;
            padding: 80px 15px 141px 15px;
        }
    }

    &__contentWrapper {
        padding: 0 5px;
    }

    &__logo {
        text-align: center;
        margin-bottom: 92px;

        @media (max-width: 768px){
            margin-bottom: 168px;
        }

        @media (max-width: 560px) {
            margin-bottom: 70px;    
        }
    }

    &__logoIcon {
        width: 60px;
        height: 60px;
        margin-right: 16px;

        @media (max-width: 560px) {
            width: 40px;
            height: 40px;    
        }
    }

    &__logoName {
        max-width: 113px;
        max-height: 47px;

        @media (max-width: 560px) {
            width: 76px;
            height: 31px;
        }
    }

    &__descBtn {
        display: block;
        font-family: var(--font-Poppins);
        font-weight: 400;
        font-size: var(--font-18);
        line-height: 150%;
        color: rgba(0, 0, 0, 0.8);
        text-align: center;
        margin-bottom: 12px;

        @media (max-width: 1200px) {
            margin-bottom: 15px;
        }

        @media (max-width: 768px) {
            font-size: var(--font-16);
        }
    }

    &__btnWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}