.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 192px;
    margin-top: auto;

    @media (max-width: 1200px) {
        max-height: 160px;
    }

    @media (max-width: 992px) {
        flex-direction: column;
    }

    @media (max-width: 768px) {
        padding: 40px;
    }

    @media (max-width: 560px) {
        padding: 30px;    
    }

    &__linkDown {
        color: var(--text-white);
        font-family: var(--font-Poppins);
        font-style: normal;
        font-weight: 400;
        font-size: var(--fs-20);
        line-height: 150%;
        position: absolute;
        right: 10%;

        &::after {
            content: url('../../images/arrow.svg');
            margin-left: 15px;
            transform: rotate(90deg);
            position: absolute;
            transition: all 0.8s;
        }

        &:hover::after {
            transform: rotate(270deg);
        }

        @media (max-width: 1200px) {
            font-size: var(--fs-18);
        }

        @media (max-width: 992px) {
            position: static;
        }

        @media (max-width: 560px) {
            height: 141px;
        }
    }
}