.accordion {
    max-width: 1700px;
    height: 682px;
	margin: 48px auto 0px auto;
    display: flex;

    &__item {
        position: relative;
        overflow: hidden;
        height: 100%;
        display: flex;
        background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%);
        transition: all 1s;
    }

    &__itemLink {
        width: 85px;
        position: relative;
        display: flex;
        justify-content: center;
        border: 2px solid rgb(255, 255, 255);
        padding: 5px 10px;
        z-index: 5;
        transition: all 1s;

        @media (max-width: 1700px) {
            width: 65px;
        }
    }

    &__pic {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__titleLinkItem {
        font-family: 'SFProDisplay';
        font-weight: 600;
        font-size: var(--fs-32);
        line-height: 100%;
        color: var(--text-white);
        transform: rotate(-90deg);
        position: absolute;
        min-width: 500px;
        bottom: 50%;
    }

    &__numLinkItem {
        font-family: 'SFProDisplay';
        font-weight: 500;
        font-size: var(--fs-40);
        line-height: 100%;
        text-align: right;
        letter-spacing: -0.03em;
        color: var(--text-white);
        position: absolute;
        bottom: 20px;
        margin-top: 40px;
        left: 10%;
    }

    &__itemHidden {
        position: relative;
        min-width: 935px;
        display: flex;
        align-items: end;
        transition: all 1s;

        @media (max-width: 1700px) {
            min-width: 860px;
        }

        @media (max-width: 1440px) {
            min-width: 670px;
        }
    }

    &__contentWrapper {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 50px 40px;
        background: rgba(18, 18, 18, 0.8);
        backdrop-filter: blur(20px);
        opacity: 0.96;
    }

    &__num {
        position: absolute;
        font-family: 'SFProDisplay';
        font-weight: 600;
        font-size: 380px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: rgba(255, 255, 255, 0.04);
        top: -6%;
        left: -25%;
        z-index: -1;
    }

    &__title {
        font-family: 'SFProDisplay';
        font-weight: 600;
        font-size: var(--fs-24);
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 12px;
    }

    &__eventDate {
        font-family: 'SFProDisplay';
        font-size: var(--fs-18);
        line-height: 150%;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 25px;
    }

    &__content {
        padding: 5px;
    }
}
