.accordion{
	max-width: 1700px;
	height: 682px;
	margin: 0 auto;

	&__title {
		position: absolute;
		font-family: 'SFProDisplay';
		line-height: 100%;
		min-width: 500px;
		bottom: 40px;
		left: 0%;
		text-indent: 1em;
		padding: 0;
		margin: 0;
		color: #ddd;
		transform-origin: 0 0;
		transform: rotate(-90deg);
		transition: all 1s ease;
	}
	&__numItem {
		position: absolute;
		bottom: 20px;
		left: 21%;
		font-family: 'SF Pro Display';
		font-style: normal;
		font-weight: 500;
		font-size: 40px;
		line-height: 100%;
		text-align: right;
		letter-spacing: -0.03em;
		color: #FFFFFF;
	}

	&__link {
		font-family: 'SFProDisplay';
		display: block;
		font-size: var(--fs-32);
		width: 100%;
		line-height: 2em;
		text-decoration: none;
		color: inherit;
		outline: 0 none;
	}

	&__btn {
		transform: rotate(-90deg);
		display: none;
		transition: all 1s ease;
	}

	&__pic {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		object-fit: cover;
	}

	&__item{
		background-position: center;
		position: relative;
		display: block;
		float: left;
		width: 65px;
		height: 680px;
		margin: 4px;
		color: #333;
		overflow: hidden;
		border-radius: 3px;
		transition: all 1s ease;

		&:target {
			width: 995px;

			&:nth-child(1) {
				background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/1.jpg') no-repeat center;
				background-size: cover;
			}

			&:nth-child(2) {
				background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/2.jpg') no-repeat center;
				background-size: cover;
			}

			&:nth-child(3) {
				background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/3.jpg') no-repeat center;
				background-size: cover;
			}

			&:nth-child(4) {
				background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/4.jpg') no-repeat center;
				background-size: cover;
			}

			&:nth-child(5) {
				background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/5.jpg') no-repeat center;
				background-size: cover;
			}

			&:nth-child(6) {
				background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/6.jpg') no-repeat center;
				background-size: cover;
			}

			&:nth-child(7)  {
				background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/7.jpg') no-repeat center;
				background-size: cover;
			}

			&:nth-child(8) {
				background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/8.jpg') no-repeat center;
				background-size: cover;
			}
		}

		&:target .accordion__btn {
			position: static;
			display: block;
			transform: rotate(0deg);
		}

		&:target div {
			position: static;
			font-size: 1.3em;
			text-indent: 0;
			color: #333;
			transform: rotate(0deg);
		}

		&:target  .container__content {
			background-color: #fff;
			width: 364px;
			height: 100%;
			padding: 0 1rem;
			background: rgba(18, 18, 18, 0.8);
			backdrop-filter: blur(20px);
		}

		&:nth-child(1){
			background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/1.jpg') no-repeat center;
			background-size: cover;
		}

		&:nth-child(2) {
			background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/2.jpg') no-repeat center;
			background-size: cover;
		}

		&:nth-child(3) {
			background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/3.jpg') no-repeat center;
			background-size: cover;
		}

		&:nth-child(4) {
			background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/4.jpg') no-repeat center;
			background-size: cover;
		}

		&:nth-child(5) {
			background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/5.jpg') no-repeat center;
			background-size: cover;
		}

		&:nth-child(6) {
			background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/6.jpg') no-repeat center;
			background-size: cover;
		}

		&:nth-child(7) {
			background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/7.jpg') no-repeat center;
			background-size: cover;
		}

		&:nth-child(8) {
			background: linear-gradient(180deg, rgba(22, 44, 78, 0) 0%, #162C4E 100%), url('../../images/accordion/8.jpg');
		}
	}
}
